//** CAROUSEL */
.carousel {
  margin-bottom: 40px;
  img {
    max-height: 500px;
    object-fit: contain;
  }
}
.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $mauve;
  padding-top: 30px;
  padding-bottom: 30px;
}
