/* woocommerce - equal heights */
.woocommerce-loop-product__title {
  min-height: 75px;
}
/* Woocommerce - product listing */
.woocommerce-notices-wrapper {
  margin-bottom: 20px;
}
/* WooCommerce - pagination */
nav.woocommerce-pagination {
  margin-bottom: 20px;
}
/* prix */
.woocommerce-Price-amount {
  color: $primary;
}
